services:
  backend:
    build: ./backend_project
    command: daphne -b 0.0.0.0 -p 8000 backend_project.asgi:application
    depends_on:
      - redis
      - db
    volumes:
      - media:/app/media
    ports:
      - "8000:8000"
    restart: always

  celery:
    build: ./backend_project
    command: celery -A backend_project worker -l info
    depends_on:
      - redis
      - db
    volumes:
      - media:/app/media
    restart: always

  redis:
    image: redis:7
    restart: always

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: yourdb
      POSTGRES_USER: youruser
      POSTGRES_PASSWORD: yourpassword
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  frontend:
    build: ./frontend
    restart: always

volumes:
  pgdata:
  media:
