/* styles/EmployeeDtrModal.css */
.dtr-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}

.dtr-modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.dtr-table-wrapper {
  margin-top: 20px;
}

.dtr-scroll-container {
  overflow-x: auto;   
  overflow-y: auto;  
  max-height: 65vh;  
  border-radius: 6px;
}

.dtr-table {
  border-collapse: collapse;
  min-width: max-content;
  font-size: 14px;
}

.dtr-table th,
.dtr-table td {
  border: 1px solid #ccc;
  padding: 8px;
  background: #ffffff;
  white-space: nowrap;
}

.dtr-table thead th {
  position: sticky;
  top: 0;
  background: linear-gradient(135deg, #1e4bc7, #2563eb);
  color: #fff;          
  z-index: 2;
  text-align: center;
  font-weight: bold;
}

.dtr-table th:nth-child(1){
  position: sticky;
  left: 0;
  z-index: 3;
  background: linear-gradient(135deg, #41099b, #7528cc);
  font-weight: bold;
  min-width: 200px;
}

.dtr-table td:nth-child(1) {
  position: sticky;
  left: 0;
  z-index: 3;
  background: #ffffff; 
  font-weight: bold;
  min-width: 200px;
}

.dtr-table th:nth-child(2){
  position: sticky;
  left: 210px; 
  z-index: 3;
  background: linear-gradient(135deg, #41099b, #7528cc);
  min-width: 130px;
  font-weight: bold;
}

.dtr-table td:nth-child(2) {
  position: sticky;
  left: 210px; 
  z-index: 3;
  background: #ffffff;
  min-width: 130px;
  font-weight: bold;
}

/*
.dtr-table th:nth-child(3) {
  position: sticky;
  left: 350px; 
  z-index: 3;
  background: linear-gradient(135deg, #41099b, #7528cc);
  min-width: 150px;
  font-weight: bold;
}

.dtr-table td:nth-child(3) {
  position: sticky;
  left: 350px; 
  z-index: 3;
  background: #ffffff;
  min-width: 150px;
  font-weight: bold;
}
*/